.modalContainer {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 250px;
    background: white;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
}