.App {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  font-size: calc(10px + 1vmin);
  color: white;
  width: fit-content;
}

header, .row {
  display: flex;
}
.App-header {
  padding: 1em;
  font-weight: bold;
}
.col {
  flex: 1;
  margin: 1em;
}
button {
  width: 20vw;
  height: 5vh;
  border: none;
  border-radius: 10px;
}
button:first-child{
  background: lightskyblue;
  color: black;
}
button:nth-child(2) {
  background: darkred;
  color: white;
}
.col:last-child {
  text-align: center;
}

#page-numbers {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

#page-numbers > li {
  margin: 0.3em;
  color: white;
  user-select: none;
  cursor: pointer;
}
.cover {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #00000066;
}

@media screen and (min-width: 1000px) {
  button {
    width: 8vw;
    margin: 0 0.5em;
  }
}

